.showEmployeesBtn {
  background: red;
  outline: none;
  border: none;
  border-radius: 6px;
  padding: 7px 20px 7px 20px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

.showEmployeesBtn:hover{
  background: darkred;
  color: #999;
  outline: solid 1px red;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}