
.employees {
    text-align: center;
}

.employee-label {
    margin-bottom: 0;
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: bold;

}

.employee-role {
    margin-top: 5px;
}

.employee-no-role {
    margin-top: 5px;
}

.employee-img {
    width: 160px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}